html, body{
    margin:0;
    padding:0;
    height: 100%;
    background: linear-gradient(#b490ca, #5ee7df);
    background-repeat: no-repeat;
}

.accueil {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 5em;
}


.liste {
    display:flex;
    justify-content: center;
    padding : 50px;
    border:2px solid white;
    margin: auto;
    width: 40%;
}

.lienListe {
    text-decoration: none;
    color: white;
    font-size:2em;
}

a:hover {
    color: lightgrey;
}

.lienItem {
    text-decoration: none;
    color: white;
    font-size:1.1em;
}

body {
    color: white;
}


select {
    width: 220px;
    height: 45px;
    margin: 0;
    padding-left: 15px;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    font-size: 1em;
}

header {
    background: rgba(220, 159, 255, 0.38);
    display : inline-block;
    clear: both;
    width:100%;
}

.ajoutListe {

}

.ajoutListe a {
    text-decoration: none;
    color:white;
    font-weight:bold;
}

nav {
    float:right;
}
nav ul li {
    list-style:none;
    float:left;
    margin-left: 1px;
    padding: 5px 10px;
}

#titreR {
    float:left;
    font-weight:bold;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

#titreR a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}

nav ul li a {
    text-decoration: none;
    color:white;
    font-weight:bold;
}
nav a::before{
    content: '' ;
    display:block;
    height:4px;
    width:0%;
    background-color:white;
}
nav a:hover::before {
    width:100%;
}


h2 {
    color:black;
    display : flex;
    justify-content : center;
}

.erreur {
    display : flex;
    justify-content : center;
    color: #d63031;
}

p{
    margin-bottom: 0;
    margin-left : 4em;
}

label{
    padding-right: 10px;
    margin-top: 0.7em;
}

.formulaire {
    display : flex;
    justify-content: center;
    padding: 15px;
}

form {
    background: #ffff;
    padding: 2em 2em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="url"]{
    width: 200px;
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1em;
    padding: .8em .5em;
    border-radius: 2px;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
    width:4em;
}



input[type="submit"] {
    border-radius: 2px;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.6em;
    padding: .8em 0;
    width: 500px;
}

.bouton {
    display: flex;
    margin : auto;
    justify-content: center;
}

.formNouvelleListe {
    background: none;
    box-shadow: none;
}

.formModifItem {
    background: none;
    box-shadow: none;
}

.formSuppListe {
    background: none;
    box-shadow: none;
}

.succes {
    color: lawngreen;
    font-size: 1.2em;
}

tr{
    color: #222;
    
}


table{
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
    max-width: 400px;
    display: block;
    margin: 50px auto 0;
}


.tableau {
    display : flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.colonne {
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.20);
    margin: 5px;
}

.colonne > a {
    text-decoration: none;
}

.creneau {
    margin: 10px;
    height: 50px;
    display: table;
    background-color: white;
}

.jour {
    color : #172B4D;
}

.creneau > p{
    width: 200px;
    color: black;
    margin: 5px;
    vertical-align: middle;
    display: table-cell;
}

.users {
    display : flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.user {
    background: none;
    border: none;
    box-shadow: none;
    vertical-align: auto;
    text-align: center;
    margin: 0px;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

footer {
    width: 100%;
    background-color: #22222278;
    position: absolute;
    bottom: 0;
}

footer > h3 {
    text-align: center;
    color: white;
}

.infos_creneau {
    display: flex;
    justify-items: center;
    background: #ffff;
    padding: 2em 2em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    color: grey;
}